<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center text-white">

    <div class="text-xl">
      <a href="/home" class="flex items-center">
        <img src="./../../../assets/logo_eni.png" alt="logo">
        <span>Eni-Encheres</span>
      </a>
    </div>

    <div class="space-x-4">
      <a href="/home" >Accueil</a>
      @if(connected) {
        <a href="#">Vendre un article</a>
        <a href="#">Mon profil</a>
      }
      <a routerLink="/login" routerLinkActive="active">S'inscrire - Se connecter</a>
      @if(connected) {
        <a href="#">Se déconnecter</a>
      }
    </div>

  </div>
</nav>
